extends layout

block content
    h1 Board Game Player Tracker
    if user 
        h3 Currently logged in as #{user}
    else
        h3 Currently not logged in
    if previousVisit
        p Latest visit: #{previousVisit}
    br
    canvas(id='chart')
    script(src='Chart.min.js')
    script(src='buildChart.js')
