extends layout

block content
    h1 Board Game Player Tracker
    if user 
        h3 Currently logged in as #{user}
    else
        h3 Currently not logged in
    if previousVisit
        p Latest visit: #{previousVisit}
    br
    h2 Distribution of games and skill levels among players
    canvas(id='skillChart' class='canvasChart')
    h2 Relationship between time spent weekly and skill level
    canvas(id='timeChart' class='canvasChart')
    script(src='Chart.min.js')
    script(src='buildCharts.js')
