extends layout

block content
    form(id='loginForm' method='post' action='/login')
        p Username: 
            input(type='text' name='username')
        p Password: 
            input(type='password' name='password')
        p Email: 
            input(type='text', name='email')
        p Age: 
            input(type='number' name='age')
        p Favorite Board Game? 
            select(name='boardGame')
                option(value='chess') Chess
                option(value='go') Go
                option(value='draughts') Draughts
                option(value='shogi') Shogi
        p Skill at Favorite Game? 
            select(name='skillLevel')
                option(value='beginner') Beginner
                option(value='intermediate') Intermediate
                option(value='advanced') Advanced
                option(value='expert') Expert
        p How often do you play it? 
            select(name='timeSpent')
                option(value='02h') 0-2 Hours/week
                option(value='34h') 3-4 Hours/week
                option(value='56h') 5-6 Hours/week
                option(value='7+h') 7+ Hours/week
        p
            input(type='submit' value='Sign Up')
